.cart-overlay{
    background-color: rgba(0, 0, 0, 0.253);
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 0;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}

.cart-overlay.show{
    z-index: 20;
    opacity: 1;
}

.cart-modal{
    background-color: rgb(199, 198, 198);
    position: absolute;
    right: 0;
    height: 100%;
    width: 350px;
    transform: translateX(100%);
    transition: transform 0.4s ease-in-out;
}

.cart-modal.show{
    transform: translateX(0);
}

.close{
    padding: 10px;
}

#close-modal-cart{
    font-size: 3rem;
    font-weight: bolder;
    cursor: pointer;
}

.content-cart{
    text-align: center;
}

.content-cart h2{
    font-size: 2rem;
    text-transform: capitalize;
}

.cart-items{
    height: 300px;
    width: 100%;
}